<h4>Take a look at your Itinerary</h4>
<p>Destinations: <%= @itinerary.destinations %><p>
<p>Travel Guide: <%= @itinerary.travel_guide %><p>
<p>Schedule: <%= @itinerary.schedule %></p>

<a href="/itineraries/<%=@itinerary.id%>/edit">Edit Itinerary</a>
<form action="/itineraries/<%=@itinerary.id%>">
  <input type="submit" value="Edit Itinerary">
</form>

<form action="/itineraries/<%=@itinerary.id%>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Itinerary">
</form>
