<h4>Take a look at <%= @itinerary.user.username %>'s Itinerary</h4>

<i class='fas fa-suitcase' style='font-size:24px'></i>
<p>Destinations: <%= @itinerary.destinations %></p>

<i class='fas fa-map-marked' style='font-size:24px'></i>
<p>Travel Guide: <%= @itinerary.travel_guide %></p>

<i class='fas fa-calendar-alt' style='font-size:24px'></i>
<p>Schedule: <%= @itinerary.schedule %></p>

<% if @current_user.id == @itinerary.user_id %>

<form action="/itineraries/<%=@itinerary.id%>/edit" method="GET">
  <input type="submit" value="Edit Itinerary">
</form>

<br>

<form action="/itineraries/<%=@itinerary.id%>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Itinerary">
</form>

<% end %>
