<h4>Take a look at your Itineraries, <%= current_user.username %></h4>
<% current_user.itineraries.each do |itinerary| %>
  <p><a href="/itineraries/<%=itinerary.id%>"><%= itinerary.destinations%></a></p>
<% end %>
<br>

<h4>Most Traveled User:</h4>
<p><%= @most_traveled_user.username %> - <%= @most_traveled_user.trip_count %> Trips</p>

<br>

<h4>Users that are currently on the Itinerary Hub: </h4>
<% @users.each do |user| %>
<h5><%= user.id %>. <%= user.username %> - Trip Count: <%= user.trip_count %> </h5>
<% end %>
