<h3>Take a look at your Itineraries, <%= current_user.username %></h3>
<% current_user.itineraries.each do |itinerary| %>
  <p><a href="/itineraries/<%=itinerary.id%>"><%= itinerary.destinations%></a></p>
<% end %>

<h3>Most Traveled User:</h3>
<p><%= @most_traveled_user.username %> - <%= @most_traveled_user.trip_count %> Trips</p>

<h3>Users that are currently on the Itinerary Hub: </h3>
<% @users.each do |user| %>
<h4><%= user.id %>. <%= user.username %> - Trip Count: <%= user.trip_count %> </h4>
<% end %>
