<h3>Take a look at your Itineraries, <%= current_user.username %></h3>
<% current_user.itineraries.each do |itinerary| %>
  <p><a href="/itineraries/<%=itinerary.id%>"><%= itinerary.destinations%></a></p>
<% end %>

<h3>Most Traveled User:</h3>
<p><%= @most_traveled_user.username %> - <%= @most_traveled_user.trip_count %> Trips</p>

<h2>Users on The Itinerary Hub</h2>
<table border="1" style="width: 30%;">
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Trip Count</th>
  </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.trip_count %></td>
      </tr>
    <% end %>
</table>
